@font-face {
    font-family: 'TTHakgyoansimYeohaengR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_keris@1.0/TTHakgyoansimYeohaengR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

#mainlogo {
    height: 100px;
    width: 100px;
}
#youtube{
    height: 50px;
    width: 50px;
}
