<header>
    <div>
        <a href="https://www.youtube.com/user/nike">
            <img src="/images/youtube.png" alt="유튜브연결" id="youtube">
        </a>
    </div>
    <div>
        <a href="#"><span>매장찾기</span></a>
        <span>|</span>
    </div>    
    <div>
        <a href="#"><span>고객센터</span></a>
        <span>|</span>
    </div>
    <div>
        <a href="#" ><span>가입하기</span></a>
        <span>|</span>
    </div>
    <div>
        <a href="/member/login"><span>로그인</span></a>
    </div>
    
</header>

<nav>
    <section>
        <a href="/">
            <img src="/images/nike.png" alt="메인로고" id="mainlogo">
        </a>
    </section>
    <section>
        <ul>
            <li>
                <a href="#">NEW</a>
            </li>
            <li>
                <a href="#">WOMAN</a>
            </li>
            <li>
                <a href="#">MAN</a>
            </li>
            <li>
                <a href="#">KIDS</a>
            </li>
            <li>
                <a href="#">SALE</a>
            </li>
        </ul>
    </section>
    <section>
        <input type="search" placeholder="검색">
        <i class="fa-solid fa-magnifying-glass"></i>

    </section>

</nav>
