<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>loginPage</title>
</head>
<body>
    <form action="/member/login" method="POST">
        <p>로그인</p>
        ID : <input type="text"> 
        <br>
        PW : <input type="password">
        <button id="loginBtn">login</button>
        <br>
        ID저장<input type="checkbox"> 
        <span>|</span>
        <a href="/signup">회원가입</a>
    </form>
</body>
</html>